body{
    padding: 0px;
    margin: 0px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    cursor: pointer;
}
button{
    border: 1px solid #ff8a23;
    border-radius: 5px;
    background-color: #ff7700;
}
button:hover{
    cursor: pointer;
}
#content{
    width: 100%;
    height: 100%;
}
#upper-menu{
    background-color: darkgrey;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 15%;
}
#middle-menu{
    position: absolute;
    width:100%;
    top: 15%;
    height: calc(85% - 50px);
}
#addRoom{
    visibility: hidden;
    opacity:0;
    transition:opacity 0.5s linear;
    background-color: rgba(100,100,100,0.4);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    display: block;
    padding: 15px;
}
#addRoom p{
    margin-top: 0px;
    padding-top: 0px;
}
#rooms{
    position: absolute;
    top:0px;
    background-color: white;
    width:100%;
    height: 10px;
}
#controls button {
    position: absolute;
    width: 25%;
    bottom: 10px;
    right: 5px;
}
#lower-menu{
    z-index: -1;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 100px;
}
#circle {
    background-color: darkgrey;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    border: 1px solid black;
}
#beam{
    position: absolute;
    bottom: 0px;
    height: 50px;
    width: 100%;
    background-color: darkgrey;
    border-top: 1px solid black;
}
#beamMiddle{
    background-color: darkgrey;
    position: absolute;
    left: 50%;
    width: 100px;
    height: 2px;
    transform: translate(-50%, -1px);
}
#lower-logo{
    width: 90px;
    height: 90px;
    position: absolute;
    bottom:5px;
    z-index: 10;
    left: 50%;
    animation: rotating 20s linear infinite;
}
@keyframes rotating {
    from {
        transform-origin: center;
        transform: translate(-50%, 0%) rotate(0deg);
    }
    to {
        transform-origin: center;
        transform: translate(-50%, 0%) rotate(-360deg);
    }
}