
#content{
     display: block;
}
#content{
    position: absolute;
    width:80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(100,100,100,0.4);
    border: 1px solid black;
    padding: 5px;
}
#login form{
    width: 100%;
}
#login form h3 input{
    width: 70%;
    float: right;
}
#login form input{
    width: 100%;
}
#member-links{
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
}