#background-logo{
    z-index: -1;
    position: absolute;
    left: 50%;
    top: 50%;
    animation: rotating 20s linear infinite;
}
@keyframes rotating {
    from {
        transform-origin: center;
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform-origin: center;
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}